# Compiled
*.elc
*.eln
*.eln.tmp

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

######################
/elpa/
/custom.el
/history
/parinfer-rust/
/transient/
/.cache/
/recentf
/ddskk/*
!/ddskk/init
/projects
