# Compiled
*.elc
*.eln
*.eln.tmp

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

######################
/.cache/
/.lsp-session-v1
/custom.el
/ddskk/*
!/ddskk/init
/ellama-sessions/
/elpa/
/eshell/
/history
/parinfer-rust/
/projects
/recentf
/skk-get-jisyo/
/transient/
